<h1>Stan's Cocktails</h1>


<div class="container">
  <div class="row">
    <div>

      <% @cocktails.each do |cocktail| %>
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        <img src="">Image Here</img>

        <%= link_to "Delete", cocktail_path(cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      <% end %>

    </div>
  </div>
</div>
