<h1><%= @cocktail.name %></h1>

<img src=""> Large image will go here</img>



<%= link_to "Back to cocktails", cocktails_path %>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
