// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";

// BANNER

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 50px;
}


// WRAPPER

.wrapper {
  background: rgb(19,45,59);
  background: linear-gradient(90deg, rgba(19,45,59,1) 0%, rgba(106,47,78,1) 61%);
}


// CARDS

.card {
  height: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 50px 0 50px 0;
}
.card-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1005;
  // position: center;
  // top: 10px;
  // width: 40px;
  // height: 80px;
}

.card-description {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}


// PROFILE

.profile {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 500;
}

.profile-container {
  height: 400px;
  border: 1px solid;
}


.profile-image {

}

.profile-list {
  flex-grow: 0;
}

.profile.cocktail-image {
  position: absolute;
  top: 30px;
  right: 30px;
}
