// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";

// BANNER

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  position: absolute;
  bottom: 3px;
}

#banner-title {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: #E7A54D;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.search {
  padding: 30px 150px 5px;
  min-width: 150px;
  // justify-content: space-around;
}

.search-result {
  width: 100%;
  text-align: center;
}

#search-result {
  font-size: 20px;
  color: #E7A54D;
  opacity: 0.7;
  margin-top: 5px;
}

.bar {
  min-width: 150px;
}
// WRAPPER

.wrapper {
  background: rgb(19,45,59);
  background: linear-gradient(90deg, rgba(19,45,59,1) 0%, rgba(106,47,78,1) 61%);
}

// CARDS

.card-container {
  display: flex;
  justify-content: space-around;
}

.row {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 350px;
  width: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  color: white;
  position: relative;
  margin: 50px 30px 30px 30px;
  border-radius: 8px;
}

.card-image {
  margin: 10px;
}

.card-description {
  // position: absolute; TURN OFF for now
  bottom: 1px;
  text-transform: uppercase;
  margin-top: 20px;
}

.card-description h2 {
  font-size: 24px;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}

#card-name {
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #E7A54D;
  text-shadow: 2px 3px 3px rgb(60, 60, 60);
}

#create-btn {
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #E7A54D;
  text-shadow: 2px 3px 3px rgb(60, 60, 60);
  text-align: center;
}

// PROFILE

.profile-wrapper {
  background: rgb(19,45,59);
  background: linear-gradient(90deg, rgba(19,45,59,1) 0%, rgba(106,47,78,1) 61%);
}

#profile-name {
  margin: 15px;
  font-size: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #E7A54D;
  text-shadow: 2px 3px 3px rgb(60, 60, 60);
  text-transform: uppercase;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 70px;
  border-radius: 8px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1))
}

.profile-list {
  color: #E7A54D;
  text-align: center;
}

#ingredients-list {
  list-style-type: none;
}

#ingredients-title {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 5px;
  text-align: center;
}

#dose-btn {
  list-style-type: none;
}

.profile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 0px 40px;
}

#profile-nav {
  text-align: center;
}

i {
  color: #E7A54D;
  font-size: 35px;
  padding: 0px 15px;
  opacity: 0.65;
}

#trash {
  font-size: 15px;
}


i:hover {
  opacity: 1;
}


a {
  color: #E7A54D;
  font-size: 35px;
  opacity: 1;
}

a:hover {
  color: #E7A54D;
  opacity: 0.65;
  text-decoration: none;
}

#profile-image {
  padding: 20px 30px 70px 70px;
}

#cocktail-image {
  padding: 0px 0px 0px 60px;
}

.btn-primary
// .btn-primary:hover,
// .btn-primary:active,
// .btn-primary:visited,
// .btn-primary:focus
    {
    opacity: 0.6;
    background-color: transparent;
    border-color: #E7A54D;
    color: #E7A54D;
    font-size: 15px;
}

.btn-primary:hover {
  opacity: 1;
  background-color: transparent;
  border-color: #E7A54D;
  color: #E7A54D;
}

.btn-primary:active {
  background-color: transparent !important;
}

.btn-primary:focus {
  background-color: transparent;
  border-color: #E7A54D;
  color: #E7A54D;
}


