<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/zenmanC"><i class="fab fa-github" id="foot-link"></i></a>
      <a href="https://www.linkedin.com/in/chrischeung74/"><i class="fab fa-linkedin" id="foot-link"></i></a>
    </div>
    <div class="footer-copyright">
      Made by Chris with thanks to Le Wagon #194
    </div>
  </div>
